version: '3.0'

services:
  web:
    build: .
    ports:
      - "80:80"
    links:
      - db
    env_file:
      - env
  db:
    image: mariadb
    volumes:
      - db-data:/var/lib/mysql
    env_file:
      - env
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8580:80"
    links:
      - db     
volumes:
  db-data: